<div id="<%= dom_id camping %>">
  <p>
    <strong>Name:</strong>
    <%= camping.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= camping.region %>
  </p>

  <p>
    <strong>City:</strong>
    <%= camping.city %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= camping.definition %>
  </p>

</div>
